body {
    font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300; 
    color: #575c7a;
    line-height: 1.5em;
    font-size: 14px;
    background: #09C6C8  url(../images/gradient.jpg) repeat-x 0px 0px;
}

.page {
    max-width: 1200px;
    margin: 0px auto 0px auto;
    position: relative;
    background-color: #eee;
}

a.no_decoration {
    text-decoration: none;
    margin: 0.5em 0 0 0;
    padding: 0.01em;
    color: blue;
}

a.no_decoration:hover {
    color: brown;
}

.para p {
    line-height: 1.2em;
    font-size: 0.95 em;
    margin-bottom: 0.5em;
}

nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
    align-content: center;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: darkorange;
    margin-top: 5px;
    border-radius: 5px;
}

nav {
    width: 100%;
    display: inline-block;
    position: static;
    height: 60px;
    background-color: #566472;
    text-align: center;
    margin-bottom: 5px;
    padding: 50 10 10 10;
}


nav {
    display: inline-block;
    position: absolute;
}

nav a:hover {
    color: yellow;
}

.clear-fix {
    clear: both;
}

nav {
    width: 100%;
    display: inline-block;
    position: static;
    background-color: #566472;
    text-align: center;
    margin-bottom: 5px:
}

.main-content {
    padding: 50px 20px 50px 20px;
    margin-top: 2px; 
    border-bottom: 1px solid #ccc;
}

.grid {
    display: grid;
	grid-template-areas:
	'user_pic user_description right_bar'
	'user_comments contribution comment_box'
	'user_comments1 contribution comment_box'
	'user_comments2 contribution comment_box';
    grid-gap: 1em;
}

.grid > div {
  background: #EDE7F6;
  padding: 1.5rem;
  border-radius: 1rem;
}

.user_pic {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto;
    height: 200px;
    float: left;
	grid-area:user_pic;
}

.user_pic:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.right_bar {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto;
    height: auto;
    float: left;
	font-size:10px;
	grid-area:right_bar;
}

.right_bar:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.comment_box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto;
    margin-left: 0px;
    height: auto;
    float: left;
	font-size:14px;	
    padding: 2px 16px 0px 0px;
	grid-area:comment_box;
	text-align: center;
}

.comment_box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

input[type=button]{
	background-color:darkorange;
	border:none;
	color:white;
	padding:16px 32px;
	text-decoration:none;
	margin:4px 2px;
	cursor: pointer;
	border-radius: 5px;
	table-layout: fixed;
	width:100%;
}


textarea{
	width:auto;
	height: 350px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius:4px;
	font-size:15px;
	resize:none;
}


.user_description {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto;
    height: auto;
    float: right;
	font-size:14px;
    padding: 2px 16px 0px 0px;
	grid-area:user_description;

}

.user_description:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user_comments {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto;
    height: auto;
    float: left;
	font-size:14px;
    padding: 2px 16px 0px 0px;
	grid-area:user_comments
}

.user_comments:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user_comments1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto;
    height: auto;
    float: left;
	font-size:14px;
    padding: 2px 16px 0px 0px;
	grid-area:user_comments1
}

.user_comments1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user_comments2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto;
    height: auto;
    float: left;
	font-size:14px;
    padding: 2px 16px 0px 0px;
	grid-area:user_comments2
}

.user_comments2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contribution {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto;
    height: auto;
    float: left;
	font-size:10px;
	grid-area:contribution;
}

.contribution:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.navigation-grid {
    display: grid;
    grid-template-columns: auto auto;
	grid-template-rows:196 196
    grid-gap: 3rem;
}

.links {
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.settings {
    text-align: left;
}

.accountImage {
    float: left;
}

.accountName {
    color: aliceblue;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: darkorange;
  font-family: inherit;
  margin: 0;
  border-radius:5px;
  width:300px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: darkorange;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
